/* Définition des polices personnalisées */
@font-face
{
font-family: Raleway;
src: url('polices/Raleway-VariableFont_wght.ttf');
src: url('polices/Raleway-Italic-VariableFont_wght.ttf');
font-weight: normal;
font-style: normal;
}

/* Eléments principaux de la page */
html
{
    font-size: 16px;
}

body
{
    font-family: 'Raleway-VariableFont' , Arial, Helvetica, sans-serif ;
    color: #181818;
    padding: 10;
    margin: 10;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
}

#blocpage
{
    width: 95%;
    height: auto;
    margin: auto;
}

section h1, footer h1, nav a 
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h2
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 12px;
}

/* Header */
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}

.header 
{
    display: flex;
    justify-content: space-between;
}
.logo
{
    margin-left: 5px;
    flex-direction: row;
    align-items: baseline;
    position: relative;
}

.logo, img
{
    width: 150px;
    height: 60px;
}

/* la couleur du texte #444 ne s'applique pas sans le hover */

.header_nav
{
    display: flex;
    color:#444;
    width: 500px;
    margin-top: 30px;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    }

    /* Mettre de l'espace dans le survol des liens avec le border top solid */
.header_nav :hover
{
    color:#0065fc;
    border-top: solid 3px #0065fc;
    padding-bottom: 10px;
    list-style-type: none; 
    margin-right: 20px;
    margin-left: 20px;
    transition: 0.5s;
     }    

nav a , ul
{
   font-size: 1.1em;
   color:#444; 
   margin-right: 10px;
   margin-left: 10px;
   padding-left: 10px;
   padding-right: 10px;
}
nav a , ul :hover
{
    color:#0065fc;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.5s;
}

.search_map-maker i
{
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 17% 0% 0% 17%;
    display: flex;
    font-size: large;
}

/* Filter Section */
.Filter div , ul , p
{
    display: flex;
    flex-wrap: wrap;
}


/* Filter section - Liens par défaut (non survolé) */
ul:active
{
    list-style-type: none; 
    text-decoration: none;
    color:black;
    background-color: #deebff;
   
}

/* Filter section - celui qui est survolé */
ul:active
{
    list-style-type: none;     
    text-decoration: underline;
    color:black;
    background-color: #deebff;
}

/* intégrer bouton*/

/* Main Accommodation */
/* Problème s'applique sur l'ensemble de la page*/
.main_accommodation
{
    display: flex;
    border: 2px solid #444;

#conteneur2 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 15px;
    background-color:#f2f2f2 ;
    border-radius: 7px;
}

 /* Aside section */
aside
{
    display: flex;
    flex-direction: column;
}



 /* Footer */
#conteneur
{
    display: inline-flex;
    flex-wrap: column;
    column-count: 3;
    justify-content: left;
    padding-top: 15px;
    background-color: #f2f2f2;
    border: 2px #f2f2f2;
    width: 100%;
    border-radius: 1px;
}   

#li
{
    display: inline-flex;
    flex-wrap: column;
    justify-content: normal;
}   


/* Footer - Liens par défaut (non survolé) */
a
{
    list-style-type: none; 
    text-decoration: none;
    color:black;
   
}

/* Footer - celui qui est survolé */
a:hover 
{
    list-style-type: none;     
    text-decoration: none;
    color:#0065fc;
}